.overlay {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 0%;
  margin: 0 0 0 294px;
  width: 240px;
  height: 100%;
  text-align: center;
  transition: 0.6s;
}
.overlay a {
  position: relative;
  width: 11.1em;
  height: 11.1em;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.59);
}
.overlay a #star {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -750px 0 0 -750px;
  display: block;
  width: 1500px;
  height: 1500px;
  opacity: 0.7;
  pointer-events: none;
  transition: 0.6s;
  background: url(https://www.mardigrasneworleans.com/templates/client/imagesNew/start2.png.pagespeed.ce.eJ-3YyMAoo.png)
    no-repeat center;
  animation: rotateSunbeam 130s linear infinite 2s;
  will-change: transform, opacity;
}
.overlay a #outter {
  font-size: 1em;
  position: absolute;
  margin: 0.23em;
  width: 10.64em;
  height: 10.64em;
  border-radius: 50%;
  background: #59258e
    url(https://www.mardigrasneworleans.com/templates/client/imagesNew/xcolorwheel.png.pagespeed.ic.67t0nvuILD.png)
    no-repeat center;
  transition: 0.6s;
}
.overlay a .inner {
  position: relative;
  width: 10em;
  height: 10em;
  margin: 0.54em;
  border-radius: 50%;
  text-align: center;
  background: #fff
    url(https://www.mardigrasneworleans.com/templates/client/imagesNew/xscheduleCTA.jpg.pagespeed.ic.yJXQyGrvN8.jpg)
    center;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.48);
  transform: rotate(-18deg);
}
.overlay a .inner span {
  display: block;
  font-family: "Lobster", cursive;
  color: #2a292b;
  line-height: 1.1em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.32);
}
.overlay a .inner span:nth-child(1) {
  padding-top: 1em;
}
.overlay a .inner span:nth-child(2) {
  color: #3f940c;
  font-size: 2.3em;
  line-height: 1em;
}
.overlay a .inner span:nth-child(3) {
  font-size: 1.8em;
}
.overlay a .inner span:nth-child(4) {
  font-size: 1.4em;
}
.overlay a:hover #star {
  opacity: 1;
}
.overlay a:hover #outter {
  box-shadow: 0 0 17px white, 0 0 30px white, 0 0 70px white, 0 0 160px white;
}
@media (max-width: 1250px) {
  .home .overlay {
    left: inherit;
    right: 6% !important;
    top: 0%;
    margin-left: 0;
  }
  .home .overlay {
    right: 7%;
  }
  html:not(.home) .overlay {
    right: 6%;
    left: inherit;
  }
}
@media (max-width: 950px) {
  .overlay {
    right: 6%;
  }
  html:not(.home) .overlay {
    right: 4%;
  }
}
// ----------------------------------------- SECOND PANEL -----------------------------------------
.carousel {
  color: #32325d;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;

  --carousel-button-svg-stroke-width: 2.5;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.carousel__button {
  z-index: 2;
  box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%),
    0 3px 7px -3px rgb(0 0 0 / 30%);
}

.carousel__button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #a78bfa;
}

.carousel__button.is-prev {
  left: -1.5rem;
}

.carousel__button.is-next {
  right: -1.5rem;
}

.carousel__viewport {
  width: calc(55% + 120px);
  margin-left: auto;
}

.carousel__slide {
  width: 100%;
  padding: 60px 60px 60px 160px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel__image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 55%;
  bottom: 0;
  z-index: 1;
  overflow: hidden;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.carousel__image-container ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: currentColor;
}

.carousel__image-container li {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.35s;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px 0 50px;

  user-select: none;
}

.carousel__image-container li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: currentColor;
  opacity: 0.7;
  z-index: 1;
}

.carousel__image-container li.is-active {
  opacity: 1;
}

.carousel__image-container li h3 {
  color: #fff;
  z-index: 1;
}

.carousel__image-container li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 960px) {
  .carousel__image-container ul {
    transform: translateX(-60px) skewX(-12deg);
  }

  .carousel__image-container li {
    transform: translateX(60px) skewX(12deg);
    padding-right: 100px;
  }
}

#logoBar a {
  opacity: 0.3;
  user-select: none;
}

#logoBar a.is-active {
  opacity: 1;
}

.diagonalbg {
  --skew-angle: -5deg;
  --background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);

  position: relative;
  isolation: isolate;
}

.diagonalbg::after {
  content: "";
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}
