// .container {
//   display: grid;
//   grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
//   grid-template-rows: 75px repeat 1fr;
// }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img:hover {
    transform: scale(1.05);
    transition: all 300ms ease-in-out;
  }
}

.rounded {
  height: 150px;
  width: 200px;
  // Circle Corners:
  // border-radius: 200px !important; //circle corner
  // height: 200px;
}

iframe {
  border-radius: 10px; //rounded corners
  height: 150px;
  width: 200px;
}
